.footer {
  background-color: $mainBlue;
  padding: 5rem 0;
  text-align: center;
  color: #fff;

  &__text {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 2;

    @include largePhone {
      font-size: 1.8rem;
    }
  }

  &__link {
    color: $mainRed;
  }
}
