.services {
  background-color: $background-2;

  &__container {
    margin-top: 10rem;
    text-align: left;
  }

  &__box {
    position: relative;

    @include desktop {
      padding: 0 2rem;
    }

    @include smallPhone {
      padding: 0 1rem;
    }

    &:nth-child(2) {
      margin: 8rem 0;
    }
  }

  &__service-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba($mainBlue, 0.6);
    position: absolute;
    top: -5rem;
    left: 5rem;

    @include desktop {
      position: static;
      font-size: 4.8rem;
      color: $mainBlue;
    }

    @include largePhone {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    &__bullet {
      color: rgba($mainRed, 0.6);
      @include desktop {
        display: none;
      }
    }
  }

  &__service-description {
    width: 70%;
    margin: 0 auto;
    font-size: 3rem;
    line-height: 2;
    font-weight: 400;

    @include desktop {
      width: 100%;
    }
    @include largePhone {
      font-size: 2rem;
    }
  }
}
